@model BulkyWebCoreMvc.Models.Category

@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>
            Delete Category
        </h2>
    </div>
    <hr />
    <div class="row">
        <div class="border p-3">
            <form method="post" asp-action="DeleteCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row mb-3 p-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" disabled />
           
                </div>
                <div class="row mb-3 p-2">
                    <label asp-for="DisplayOrder" class="control-label"></label>
                    <input asp-for="DisplayOrder" class="form-control" disabled />
                  
                </div>
                <div class="row">
                    <div class="col-6"> <input type="submit" value="Delete" class="btn btn-danger form-control" /></div>

                    <div class="col-6"><a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List</a></div>

                </div>
            </form>
        </div>
    </div>
</div>

